<!--  This file is app/views/transactions/index.html.erb -->
<%= link_to 'My Profile', user_path(@user_email), :class => 'btn btn-info' %>
<h2>Transactions Summary</h2> 
<% if @total_dues > 0 %>
 <h3> You owe people <%= @total_dues.abs().round(2)%><%=User.where('email = ?', session[:user_email])[0].default_currency%> </h3>
 <% elsif @total_dues < 0 %>
  <h3> You are owed <%= @total_dues.abs().round(2)%> <%=User.where('email = ?', session[:user_email])[0].default_currency%> </h3>
  <% else %>
  <h3> You have settled all balances! </h3>
<% end %>
<table class="table table-striped col-md-12" id="transactions">
  <thead>
    <tr>
      <th>Friend</th>
      <th>Balances?</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <td>
          <%= person['email'] %>
        </td>
        <td>
          <% if person['amount_due'] > 0 %>
            You owe them <%= person['amount_due'].abs().round(2) %> <%= User.where('email = ?', session[:user_email])[0].default_currency %>
          <% elsif person['amount_due'] < 0 %>
            They owe you <%= person['amount_due'].abs().round(2) %> <%= User.where('email = ?', session[:user_email])[0].default_currency %>
          <% else %>
            All balances settled
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'View visualizations', visualize_transactions_path, :class => 'btn btn-info' %>
<%= link_to 'View all transactions', all_transactions_path, :class => 'btn btn-info' %>
<%= link_to 'View all repayments', all_repayments_path, :class => 'btn btn-info' %>
<%= link_to 'Add new transaction', new_transaction_path, :class => 'btn btn-info' %>
<%= link_to 'Add new repayment', new_repayment_path, :class => 'btn btn-info' %>
<%= link_to 'Logout', logout_path, :class => 'btn btn-info' %>
